
<div>
    <h2><span data-translate="wmcApp.parentUser.detail.title">Parent User</span> {{vm.parentUser.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="wmcApp.parentUser.userId">User Id</span></dt>
        <dd>
            <span>{{vm.parentUser.userId}}</span>
        </dd>
        <dt><span data-translate="wmcApp.parentUser.userIds">User Ids</span></dt>
        <dd>
            {{vm.parentUser.userIdsLogin}}
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="parent-user-detail.edit({id:vm.parentUser.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
