
<div>
    <h2><span data-translate="wmcApp.device.detail.title">Device</span> {{vm.device.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="wmcApp.device.deviceType">Device Type</span></dt>
        <dd>
            <span data-translate="{{'wmcApp.DeviceType.' + vm.device.deviceType}}">{{vm.device.deviceType}}</span>
        </dd>
        <dt><span data-translate="wmcApp.device.name">Name</span></dt>
        <dd>
            <span>{{vm.device.name}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="device-detail.edit({id:vm.device.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
