
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myDeviceLabel" data-translate="wmcApp.device.home.createOrEditLabel">Create or edit a Device</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.device.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.device.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="wmcApp.device.deviceType" for="field_deviceType">Device Type</label>
            <select class="form-control" name="deviceType" ng-model="vm.device.deviceType" id="field_deviceType" required>
                <option value="COMPUTER" data-translate="wmcApp.DeviceType.COMPUTER">COMPUTER</option>
                <option value="PHONE" data-translate="wmcApp.DeviceType.PHONE">PHONE</option>
                <option value="TABLET" data-translate="wmcApp.DeviceType.TABLET">TABLET</option>
                <option value="OTHER" data-translate="wmcApp.DeviceType.OTHER">OTHER</option>
            </select>
            <div ng-show="editForm.deviceType.$invalid">
                <p class="help-block"
                    ng-show="editForm.deviceType.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="wmcApp.device.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.device.name"
                    />
        </div>

    </div>
    <div class="modal-footer" ng-switch="location.href.indexOf('registerDevice') != -1">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()" ng-switch-when="true">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary" ng-switch-when="true">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
