<div ng-switch="vm.isAuthenticated()">
    <div class="alert alert-warning" ng-switch-when="false" data-translate="home.notLogged">
        Redirect to Home
    </div>

    <div ng-switch="vm.userDetails.length() < 0">
        <div class="alert alert-success" ng-switch-when="false">
            I have no devices under my commands
            <ng-include src="'/app/entities/device/device-dialog.html'"></ng-include>
            <ng-include src="'/app/entities/user-details/user-details-dialog.html'"></ng-include>
        </div>

        <div class="alert alert-success" ng-switch-when="true">
            I have some devices.. I will show you it ;)
        </div>


    </div>

</div>

