
<div>
    <h2><span data-translate="wmcApp.lastLocation.detail.title">Last Location</span> {{vm.lastLocation.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="wmcApp.lastLocation.latitude">Latitude</span></dt>
        <dd>
            <span>{{vm.lastLocation.latitude}}</span>
        </dd>
        <dt><span data-translate="wmcApp.lastLocation.longitude">Longitude</span></dt>
        <dd>
            <span>{{vm.lastLocation.longitude}}</span>
        </dd>
        <dt><span data-translate="wmcApp.lastLocation.city">City</span></dt>
        <dd>
            <span>{{vm.lastLocation.city}}</span>
        </dd>
        <dt><span data-translate="wmcApp.lastLocation.country">Country</span></dt>
        <dd>
            <span>{{vm.lastLocation.country}}</span>
        </dd>
        <dt><span data-translate="wmcApp.lastLocation.device">Device</span></dt>
        <dd>
            <a ui-sref="device-detail({id:vm.lastLocation.deviceId})">{{vm.lastLocation.deviceId}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="last-location-detail.edit({id:vm.lastLocation.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
