
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myUserDetailsLabel" data-translate="wmcApp.userDetails.home.createOrEditLabel">Create or edit a User Details</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.userDetails.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.userDetails.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="wmcApp.userDetails.nick" for="field_nick">Nick</label>
            <input type="text" class="form-control" name="nick" id="field_nick"
                    ng-model="vm.userDetails.nick"
                    required ng-minlength="3"/>
            <div ng-show="editForm.nick.$invalid">
                <p class="help-block"
                    ng-show="editForm.nick.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.nick.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="3">
                    This field is required to be at least 3 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="wmcApp.userDetails.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.userDetails.name"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="wmcApp.userDetails.surname" for="field_surname">Surname</label>
            <input type="text" class="form-control" name="surname" id="field_surname"
                    ng-model="vm.userDetails.surname"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="wmcApp.userDetails.phone" for="field_phone">Phone</label>
            <input type="text" class="form-control" name="phone" id="field_phone"
                    ng-model="vm.userDetails.phone"
                    required/>
            <div ng-show="editForm.phone.$invalid">
                <p class="help-block"
                    ng-show="editForm.phone.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="wmcApp.userDetails.isParent" for="field_isParent">Is Parent</label>
                <input type="checkbox" name="isParent" id="field_isParent"
                          ng-model="vm.userDetails.isParent"/>
            <div ng-show="editForm.isParent.$invalid">
                <p class="help-block"
                    ng-show="editForm.isParent.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="wmcApp.userDetails.age" for="field_age">Age</label>
            <input type="number" class="form-control" name="age" id="field_age"
                    ng-model="vm.userDetails.age"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="wmcApp.userDetails.acceptedTerms" for="field_acceptedTerms">Accepted Terms</label>
                <input type="checkbox" name="acceptedTerms" id="field_acceptedTerms"
                          ng-model="vm.userDetails.acceptedTerms"/>
            <div ng-show="editForm.acceptedTerms.$invalid">
                <p class="help-block"
                    ng-show="editForm.acceptedTerms.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="wmcApp.userDetails.lastKnownLocation" for="field_lastKnownLocation">Last Known Location</label>
            <input type="text" class="form-control" name="lastKnownLocation" id="field_lastKnownLocation"
                    ng-model="vm.userDetails.lastKnownLocation"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="wmcApp.userDetails.photoServerUrl" for="field_photoServerUrl">Photo Server Url</label>
            <input type="text" class="form-control" name="photoServerUrl" id="field_photoServerUrl"
                    ng-model="vm.userDetails.photoServerUrl"
                    />
        </div>

        <div class="form-group">
            <label data-translate="wmcApp.userDetails.userId" for="field_userId">User Id</label>
            <select class="form-control" id="field_userId" name="userId" ng-model="vm.userDetails.userIdId" ng-options="user.id as user.login for user in vm.users"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="wmcApp.userDetails.childrens" for="field_childrens">Childrens</label>
            <select class="form-control" id="field_childrens" multiple name="childrens" ng-model="vm.userDetails.childrens" ng-options="userDetails as userDetails.nick for userDetails in vm.userdetails track by userDetails.id"></select>
        </div>
        <div class="form-group">
            <label data-translate="wmcApp.userDetails.parents" for="field_parents">Parents</label>
            <select class="form-control" id="field_parents" multiple name="parents" ng-model="vm.userDetails.parents" ng-options="userDetails as userDetails.nick for userDetails in vm.userdetails track by userDetails.id"></select>
        </div>
        <div class="form-group">
            <label data-translate="wmcApp.userDetails.device" for="field_device">Device</label>
            <select class="form-control" id="field_device" name="device" ng-model="vm.userDetails.deviceId" ng-options="device.id as device.id for device in vm.devices"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
