<div>
    <h2 data-translate="wmcApp.userDetails.home.title">User Details</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="user-details.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="wmcApp.userDetails.home.createLabel">
                        Create new User Details
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'wmcApp.userDetails.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nick"><span data-translate="wmcApp.userDetails.nick">Nick</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span data-translate="wmcApp.userDetails.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="surname"><span data-translate="wmcApp.userDetails.surname">Surname</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="phone"><span data-translate="wmcApp.userDetails.phone">Phone</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isParent"><span data-translate="wmcApp.userDetails.isParent">Is Parent</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="age"><span data-translate="wmcApp.userDetails.age">Age</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="acceptedTerms"><span data-translate="wmcApp.userDetails.acceptedTerms">Accepted Terms</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lastKnownLocation"><span data-translate="wmcApp.userDetails.lastKnownLocation">Last Known Location</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="photoServerUrl"><span data-translate="wmcApp.userDetails.photoServerUrl">Photo Server Url</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="userIdLogin"><span data-translate="wmcApp.userDetails.userId">User Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="deviceId"><span data-translate="wmcApp.userDetails.device">Device</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="userDetails in vm.userDetails track by userDetails.id">
                    <td><a ui-sref="user-details-detail({id:userDetails.id})">{{userDetails.id}}</a></td>
                    <td>{{userDetails.nick}}</td>
                    <td>{{userDetails.name}}</td>
                    <td>{{userDetails.surname}}</td>
                    <td>{{userDetails.phone}}</td>
                    <td>{{userDetails.isParent}}</td>
                    <td>{{userDetails.age}}</td>
                    <td>{{userDetails.acceptedTerms}}</td>
                    <td>{{userDetails.lastKnownLocation}}</td>
                    <td>{{userDetails.photoServerUrl}}</td>
                    <td>
                        {{userDetails.userIdLogin}}
                    </td>
                    <td>
                        <a ui-sref="device-detail({id:userDetails.deviceId})">{{userDetails.deviceId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="user-details-detail({id:userDetails.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="user-details.edit({id:userDetails.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="user-details.delete({id:userDetails.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
