
<div>
    <h2><span data-translate="wmcApp.userDetails.detail.title">User Details</span> {{vm.userDetails.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="wmcApp.userDetails.nick">Nick</span></dt>
        <dd>
            <span>{{vm.userDetails.nick}}</span>
        </dd>
        <dt><span data-translate="wmcApp.userDetails.name">Name</span></dt>
        <dd>
            <span>{{vm.userDetails.name}}</span>
        </dd>
        <dt><span data-translate="wmcApp.userDetails.surname">Surname</span></dt>
        <dd>
            <span>{{vm.userDetails.surname}}</span>
        </dd>
        <dt><span data-translate="wmcApp.userDetails.phone">Phone</span></dt>
        <dd>
            <span>{{vm.userDetails.phone}}</span>
        </dd>
        <dt><span data-translate="wmcApp.userDetails.isParent">Is Parent</span></dt>
        <dd>
            <span>{{vm.userDetails.isParent}}</span>
        </dd>
        <dt><span data-translate="wmcApp.userDetails.age">Age</span></dt>
        <dd>
            <span>{{vm.userDetails.age}}</span>
        </dd>
        <dt><span data-translate="wmcApp.userDetails.acceptedTerms">Accepted Terms</span></dt>
        <dd>
            <span>{{vm.userDetails.acceptedTerms}}</span>
        </dd>
        <dt><span data-translate="wmcApp.userDetails.lastKnownLocation">Last Known Location</span></dt>
        <dd>
            <span>{{vm.userDetails.lastKnownLocation}}</span>
        </dd>
        <dt><span data-translate="wmcApp.userDetails.photoServerUrl">Photo Server Url</span></dt>
        <dd>
            <span>{{vm.userDetails.photoServerUrl}}</span>
        </dd>
        <dt><span data-translate="wmcApp.userDetails.userId">User Id</span></dt>
        <dd>
            {{vm.userDetails.userIdLogin}}
        </dd>
        <dt><span data-translate="wmcApp.userDetails.childrens">Childrens</span></dt>
        <dd>
            <span ng-repeat="childrens in vm.userDetails.childrens">
                <a ui-sref="user-details-detail({id: childrens.id})">{{childrens.nick}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
        <dt><span data-translate="wmcApp.userDetails.parents">Parents</span></dt>
        <dd>
            <span ng-repeat="parents in vm.userDetails.parents">
                <a ui-sref="user-details-detail({id: parents.id})">{{parents.nick}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
        <dt><span data-translate="wmcApp.userDetails.device">Device</span></dt>
        <dd>
            <a ui-sref="device-detail({id:vm.userDetails.deviceId})">{{vm.userDetails.deviceId}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="user-details-detail.edit({id:vm.userDetails.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
